body {
  background: black;
}
.ascii {
  display: none;
}
#text {
  color: white;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
